.steps__item {
  counter-increment: steps;
  /* background: #efefef; */
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  float: left;
  position: relative;
  white-space: nowrap;
  font-size: 1.6rem;
  height: 7.5rem;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.steps__item:first-child:nth-last-child(4),
.steps__item:first-child:nth-last-child(4) ~ .steps__item {
  width: 27%;
}

.steps__item:after {
  width: 5.1rem;
  height: 5.2rem;
  position: absolute;
  top: 1rem;
  left: 90%;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  content: "";
  z-index: 2;
  background: inherit;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  margin-left: -0.92808em;
}

.steps__item--first {
  border-left: 1px solid #ccc;
  width: 220px !important;
}

.steps__item--last {
  border-right: 1px solid #ccc;
  justify-content: space-around;
}

.steps__item--last:after {
  content: none;
}

.steps__link {
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 0.5em 0;
}

:not([disabled]) > .steps__link:hover,
:not([disabled]) > .steps__link:focus {
  color: #333;
}

.steps__item--active {
  background: #fff;
  justify-content: space-around;
}
.steps__item--active a {
  text-decoration: underline;
}

.steps__item--active a:hover {
  color: #000;
  text-decoration: underline;
}

.no-csstransforms .steps__item {
  border-right: 1px solid #ccc;
}

.no-csstransforms .steps__item:after {
  content: none !important;
}

.no-generatedcontent .steps {
  list-style-position: inside;
  list-style-type: decimal;
}

.steps__item__image {
  z-index: 50;
}

.steps__item__image img {
  height: 8rem;
}
